.profile {
    &__wrapper {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
    }

    &__avatar {
        width: 38px;
        height: 38px;
        margin-right: 20px;

        border-radius: 50%;
    }

    &__text {
        margin: 0;
        line-height: 19px;

        font-size: 14px;
        text-align: left;
    }
}
